body {
    background-color: #04436a;
    margin: 0px;
}

.logo {
    text-align: center;
}

.server-enter {
    text-align: center;
}

.server-enter input {
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    border: 0px;
    font-size: 23px;
}

.connect-button {
    text-align: center;
    margin-top: 50px;
}

.connect-button button {
    height: 40px;
    width: 142px;
    font-size: 25px;
    border-radius: 15px;
}

#serverList {
    position: absolute;
    top: 0;
    left: -64px;
    height: 100%;
    width: 60px;
    background-color: #0F354C;
    box-shadow: 1px 3px 5px #000000;
    -webkit-transition: all 1s ease-in-out;
}

#serverList .toggle {
    top: 50%;
    position: relative;
    transform: rotate(90deg);
    background-color: #7D1F22;
    left: 28px;
    width: 80px;
    padding: 7px;
    box-shadow: 1px -2px 0px rgba(0, 0, 0, 0.38);
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    cursor: pointer;
}

#serverView {
    display: none;
}

#serverFrame {
    height: 100vh;
    border: 0px;
}
