<?xml version='1.0' encoding='utf-8'?>
<widget id="chat.rocket.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rocket.Chat.Cordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access launch-external="true" origin="tel:*" />
    <access launch-external="true" origin="geo:*" />
    <access launch-external="true" origin="mailto:*" />
    <access launch-external="true" origin="sms:*" />
    <access launch-external="true" origin="market:*" />
    <access origin="file:*" />
    <access origin="cdv:*" />
    <access origin="gap:*" />
    <access origin="http://meteor.local/*" />
    <access origin="*://localhost/*" />
    <access origin="*://10.0.2.2/*" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="www/icons/icon.png" />
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <hook src="hooks/beforePrepare.js" type="before_prepare" />
    <engine name="ios" spec="~3.9.2" />
    <engine name="android" spec="~4.1.1" />
    <plugin name="com.meteor.cordova-update" spec="~0.0.1" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.3.1" />
    <plugin name="cordova-plugin-file" spec="~3.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.0.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~2.1.0" />
    <plugin name="ionic-plugin-keyboard" spec="~1.0.7" />
</widget>
