<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="222" id="com.konecty.rocket.chat" ios-CFBundleVersion="1" version="2.2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rocket.Chat</name>
    <description>
        Rocket.Chat mobile application
    </description>
    <author email="support@rocket.chat" href="http://rocket.chat">
        Rocket.Chat
    </author>
    <content src="index.html" />
    <allow-intent href="*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access launch-external="true" origin="tel:*" />
    <access launch-external="true" origin="geo:*" />
    <access launch-external="true" origin="mailto:*" />
    <access launch-external="true" origin="sms:*" />
    <access launch-external="true" origin="market:*" />
    <access origin="file:*" />
    <access origin="cdv:*" />
    <access origin="gap:*" />
    <access origin="http://meteor.local/*" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="resources/icons/Android/mdpi.png" />
        <icon density="hdpi" src="resources/icons/Android/hdpi.png" />
        <icon density="xhdpi" src="resources/icons/Android/xhdpi.png" />
        <icon density="xxhdpi" src="resources/icons/Android/xxhdpi.png" />
        <icon density="xxxhdpi" src="resources/icons/Android/xxxhdpi.png" />
        <splash density="port-ldpi" height="426" src="resources/splash/android_port_ldpi.png" width="320" />
        <splash density="land-ldpi" height="320" src="resources/splash/android_land_ldpi.png" width="426" />
        <splash density="port-mdpi" height="470" src="resources/splash/android_port_mdpi.png" width="320" />
        <splash density="land-mdpi" height="320" src="resources/splash/android_land_mdpi.png" width="470" />
        <splash density="port-hdpi" height="640" src="resources/splash/android_port_hdpi.png" width="480" />
        <splash density="land-hdpi" height="480" src="resources/splash/android_land_hdpi.png" width="640" />
        <splash density="port-xhdpi" height="960" src="resources/splash/android_port_xhdpi.png" width="720" />
        <splash density="land-xhdpi" height="720" src="resources/splash/android_land_xhdpi.png" width="960" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="29" src="resources/icons/iOS/icon-29.png" width="29" />
        <icon height="40" src="resources/icons/iOS/icon-40.png" width="40" />
        <icon height="50" src="resources/icons/iOS/icon-50.png" width="50" />
        <icon height="57" src="resources/icons/iOS/icon-57.png" width="57" />
        <icon height="58" src="resources/icons/iOS/icon-58.png" width="58" />
        <icon height="60" src="resources/icons/iOS/icon-60.png" width="60" />
        <icon height="72" src="resources/icons/iOS/icon-72.png" width="72" />
        <icon height="76" src="resources/icons/iOS/icon-76.png" width="76" />
        <icon height="80" src="resources/icons/iOS/icon-80.png" width="80" />
        <icon height="100" src="resources/icons/iOS/icon-100.png" width="100" />
        <icon height="114" src="resources/icons/iOS/icon-114.png" width="114" />
        <icon height="120" src="resources/icons/iOS/icon-120.png" width="120" />
        <icon height="144" src="resources/icons/iOS/icon-144.png" width="144" />
        <icon height="152" src="resources/icons/iOS/icon-152.png" width="152" />
        <icon height="180" src="resources/icons/iOS/icon-180.png" width="180" />
        <splash height="480" src="resources/splash/iphone.png" width="320" />
        <splash height="960" src="resources/splash/iphone@2x.png" width="640" />
        <splash height="1136" src="resources/splash/iphone5.png" width="640" />
        <splash height="1334" src="resources/splash/iphone6.png" width="750" />
        <splash height="2208" src="resources/splash/iphone6p_portrait.png" width="1242" />
        <splash height="1242" src="resources/splash/iphone6p_landscape.png" width="2208" />
        <splash height="1004" src="resources/splash/ipad_portrait.png" width="768" />
        <splash height="1024" src="resources/splash/ipad_portrait.png" width="768" />
        <splash height="2008" src="resources/splash/ipad_portrait@2x.png" width="1536" />
        <splash height="2048" src="resources/splash/ipad_portrait@2x.png" width="1536" />
        <splash height="748" src="resources/splash/ipad_landscape.png" width="1024" />
        <splash height="768" src="resources/splash/ipad_landscape.png" width="1024" />
        <splash height="1496" src="resources/splash/ipad_landscape@2x.png" width="2048" />
        <splash height="1536" src="resources/splash/ipad_landscape@2x.png" width="2048" />
    </platform>
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="blackopaque" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="deployment-target" value="8.0" />
    <hook src="hooks/beforePrepare.js" type="before_prepare" />
    <engine name="ios" spec="~3.9.2" />
    <engine name="android" spec="~5.0.0" />
    <plugin name="com.meteor.cordova-update" spec="https://github.com/RocketChat/com.meteor.cordova-update" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.3.1" />
    <plugin name="cordova-plugin-file" spec="~3.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.3.0" />
    <plugin name="cordova-plugin-legacy-whitelist" spec="~1.1.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~2.1.0" />
    <plugin name="ionic-plugin-keyboard" spec="~1.0.7" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-facebook4" spec="~1.3.0-0">
        <variable name="APP_ID" value="835103589938459" />
        <variable name="APP_NAME" value="Rocket.Chat" />
    </plugin>
    <plugin name="cordova-plugin-rocket-chat" spec="https://github.com/RocketChat/cordova-plugin-rocket-chat" />
    <plugin name="phonegap-plugin-push" spec="~1.4.2" />
    <plugin name="cordova-plugin-device" spec="~1.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-appinfo" spec="~2.0.2" />
</widget>
