<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="236" id="com.konecty.rocket.chat" ios-CFBundleVersion="4" version="2.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rocket.Chat</name>
    <description>
        Rocket.Chat mobile application
    </description>
    <author email="support@rocket.chat" href="http://rocket.chat">
        Rocket.Chat
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="market:*" />
    <access launch-external="true" origin="tel:*" />
    <access launch-external="true" origin="geo:*" />
    <access launch-external="true" origin="mailto:*" />
    <access launch-external="true" origin="sms:*" />
    <access launch-external="true" origin="market:*" />
    <access origin="file:*" />
    <access origin="blob:*" />
    <access origin="cdv:*" />
    <access origin="gap:*" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="15" />
        <icon density="mdpi" src="resources/icons/platform/android/res/drawable-mdpi/appicon.png" />
        <icon density="hdpi" src="resources/icons/platform/android/res/drawable-hdpi/appicon.png" />
        <icon density="xhdpi" src="resources/icons/platform/android/res/drawable-xhdpi/appicon.png" />
        <icon density="xxhdpi" src="resources/icons/platform/android/res/drawable-xxhdpi/appicon.png" />
        <icon density="xxxhdpi" src="resources/icons/platform/android/res/drawable-xxxhdpi/appicon.png" />
        <splash density="port-mdpi" width="320" height="480" src="resources/splash/Resources/android/images/res-long-port-mdpi/default.png" />
        <splash density="port-hdpi" width="480" height="800" src="resources/splash/Resources/android/images/res-long-port-hdpi/default.png" />
        <splash density="port-xhdpi" width="640" height="960" src="resources/splash/Resources/android/images/res-long-port-xhdpi/default.png" />
        <splash density="port-xxhdpi" width="960" height="1600" src="resources/splash/Resources/android/images/res-long-port-xxhdpi/default.png" />
        <splash density="port-xxxhdpi" width="1280" height="1920" src="resources/splash/Resources/android/images/res-long-port-xxxhdpi/default.png" />
        <splash density="land-mdpi" width="480" height="320" src="resources/splash/Resources/android/images/res-long-land-mdpi/default.png" />
        <splash density="land-hdpi" width="800" height="480" src="resources/splash/Resources/android/images/res-long-land-hdpi/default.png" />
        <splash density="land-xhdpi" width="960" height="640" src="resources/splash/Resources/android/images/res-long-land-xhdpi/default.png" />
        <splash density="land-xxhdpi" width="1600" height="960" src="resources/splash/Resources/android/images/res-long-land-xxhdpi/default.png" />
        <splash density="land-xxxhdpi" width="1920" height="1280" src="resources/splash/Resources/android/images/res-long-land-xxxhdpi/default.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon width="29" height="29" src="resources/icons/Resources/iphone/appicon-Small.png" />
        <icon width="40" height="40" src="resources/icons/Resources/iphone/appicon-Small-40.png" />
        <icon width="50" height="50" src="resources/icons/Resources/iphone/appicon-Small-50.png" />
        <icon width="57" height="57" src="resources/icons/Resources/iphone/appicon.png" />
        <icon width="58" height="58" src="resources/icons/Resources/iphone/appicon-Small@2x.png" />
        <icon width="60" height="60" src="resources/icons/Resources/iphone/appicon-60.png" />
        <icon width="72" height="72" src="resources/icons/Resources/iphone/appicon-72.png" />
        <icon width="76" height="76" src="resources/icons/Resources/iphone/appicon-76.png" />
        <icon width="80" height="80" src="resources/icons/Resources/iphone/appicon-Small-40@2x.png" />
        <icon width="87" height="87" src="resources/icons/Resources/iphone/appicon-Small@3x.png" />
        <icon width="100" height="100" src="resources/icons/Resources/iphone/appicon-Small-50@2x.png" />
        <icon width="114" height="114" src="resources/icons/Resources/iphone/appicon@2x.png" />
        <icon width="120" height="120" src="resources/icons/Resources/iphone/appicon-60@2x.png" />
        <icon width="144" height="144" src="resources/icons/Resources/iphone/appicon-72@2x.png" />
        <icon width="152" height="152" src="resources/icons/Resources/iphone/appicon-76@2x.png" />
        <icon width="167" height="167" src="resources/icons/Resources/iphone/appicon-83.5@2x.png" />
        <icon width="180" height="180" src="resources/icons/Resources/iphone/appicon-60@3x.png" />
        <splash width="320" height="480" src="resources/splash/Resources/iphone/Default.png" />
        <splash width="640" height="960" src="resources/splash/Resources/iphone/Default@2x.png" />
        <splash width="640" height="1136" src="resources/splash/Resources/iphone/Default-568h@2x.png" />
        <splash width="750" height="1334" src="resources/splash/Resources/iphone/Default-667h@2x.png" />
        <splash width="1242" height="2208" src="resources/splash/Resources/iphone/Default-Portrait-736h@3x.png" />
        <splash width="2208" height="1242" src="resources/splash/Resources/iphone/Default-Landscape-736h@3x.png" />
        <splash width="768" height="1024" src="resources/splash/Resources/iphone/Default-Portrait.png" />
        <splash width="1536" height="2048" src="resources/splash/Resources/iphone/Default-Portrait@2x.png" />
        <splash width="1024" height="768" src="resources/splash/Resources/iphone/Default-Landscape.png" />
        <splash width="2048" height="1536" src="resources/splash/Resources/iphone/Default-Landscape@2x.png" />
    </platform>
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="StatusBarStyle" value="blackopaque" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="deployment-target" value="8.0" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="Orientation" value="all" />
    <hook src="hooks/beforePrepare.js" type="before_prepare" />
    <engine name="ios" spec="4.1.0" />
    <engine name="android" spec="5.1.1" />
    <plugin name="com.meteor.cordova-update" spec="https://github.com/RocketChat/com.meteor.cordova-update" />
    <plugin name="cordova-plugin-sharingreceptor" spec="https://github.com/burstaholic/cordova-sharingreceptor.git" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="1.6.1" />
    <plugin name="cordova-plugin-file" spec="4.1.1" />
    <plugin name="cordova-plugin-file-transfer" spec="1.5.1" />
    <plugin name="cordova-plugin-legacy-whitelist" spec="1.1.1" />
    <plugin name="cordova-plugin-console" spec="1.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="3.2.1" />
    <plugin name="ionic-plugin-keyboard" spec="2.2.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.1.2" />
    <plugin name="cordova-plugin-facebook4" spec="1.7.0">
        <variable name="APP_ID" value="835103589938459" />
        <variable name="APP_NAME" value="Rocket.Chat" />
    </plugin>
    <plugin name="cordova-plugin-rocket-chat" spec="https://github.com/RocketChat/cordova-plugin-rocket-chat" />
    <plugin name="phonegap-plugin-push" spec="~1.4.2" />
    <plugin name="cordova-plugin-device" spec="1.1.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
    <plugin name="cordova-plugin-dialogs" spec="1.2.0" />
    <plugin name="cordova-plugin-appinfo" spec="2.0.3" />
    <plugin name="cordova-plugin-actionsheet" spec="~2.2.2" />
    <plugin name="com.verso.cordova.clipboard" spec="https://github.com/VersoSolutions/CordovaClipboard" />
    <plugin name="cordova-plugin-1password" spec="0.1.5" />
    <plugin name="cordova-plugin-3dtouch" spec="~1.3.4" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.0.11" />
    <plugin name="twitter-connect-plugin" spec="~0.5.0">
        <variable name="FABRIC_KEY" value="d28a3f04738fd742320f2ae1f2049bf85a5a6144" />
    </plugin>
    <preference name="TwitterConsumerKey" value="njl2I82AXrOo0YftZyKHyC8aV" />
    <preference name="TwitterConsumerSecret" value="2RmFsMIZmOXY4mMQ1qTuoOOcOPDVtgNMbJLPFgigaYTPpQuVVQ" />
    <plugin name="cordova-plugin-googleplus" spec="~4.0.8">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.673693445664-pa3k48sg81r89rn65e9rlnu4gpmm5vem" />
    </plugin>
    <!-- <plugin name="cordova-plugin-googleplus" spec="~4.0.8">
        <variable name="REVERSED_CLIENT_ID" value="" />
    </plugin>
    <plugin name="twitter-connect-plugin" spec="~0.5.0">
        <variable name="FABRIC_KEY" value="" />
    </plugin>
    <preference name="TwitterConsumerKey" value="" />
    <preference name="TwitterConsumerSecret" value="" /> -->
</widget>
