.server-list-open #serverList {
    top: 0px !important;
}

#serverList {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 120%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-transition: all .2s ease-in-out;
    z-index: 100;
}

#serverList .panel {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    overflow: hidden;
    width: 80%;
    -webkit-transition: all .2s ease-in-out;
}

#serverList ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}

#serverList ul li {
    display: flex;
    border-bottom: 1px solid #ccc;
}

#serverList ul li .name {
    display: block;
    text-align: left;
    line-height: 45px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

#serverList ul li .delete-btn {
    background-color: rgb(195, 37, 38);
    display: block;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    min-width: 45px;
    margin-left: 5px;
}

#serverList ul li.addServer {
    border: none;
}

#serverList ul li.addServer .add-btn {
    background-color: rgb(37, 195, 38);
    display: block;
    border-radius: 40px;
    text-align: center;
    line-height: 38px;
    height: 45px;
    width: 45px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 5px;
}

#serverList .toggle {
    background-color: #ddd;
    line-height: 44px;
    color: #444;
    text-align: center;
    font-size: 20px;
}
