body {
    background-color: #f7f7f7;
    margin: 0px;
}

.hidden {
    display: none !important;
}

.logo {
    text-align: center;
    margin-top: 80px;
}

.logo img {
    width: 100px;
}

.server-enter {
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin: 20px;
}

.server-enter input {
    padding: 4px;
    border: 0px;
    font-size: 20px;
    border-radius: 0px;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
}

.connect-button {
    text-align: center;
    margin-top: 20px;
}

.connect-button button {
    color: rgba(255,255,255,0.85);
    background-color: #13679a;
    padding: 9px 12px;
    font-weight: 500;
    font-size: 13px;
    margin: 4px;
    text-transform: uppercase;
    word-spacing: 0;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.125);
    border: none;
    line-height: 16px;
    position: relative;
    cursor: pointer;
}

.server-list-open #serverList{
    top: 40px !important;
    bottom: 40px !important;
}

#serverList {
    position: fixed;
    top: 120%;
    bottom: -120%;
    left: 40px;
    right: 40px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
}

#serverList ul {
    list-style: none;
    padding: 5px;
    margin: 0px;
}

#serverList ul li {
    background-color: rgba(195, 37, 38, .5);
    display: block;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 5px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    font-family: helvetica;
}

#serverList .toggle {
    background-color: rgba(195, 37, 38, .8);
    line-height: 44px;
    color: white;
    text-align: center;
    font-family: helvetica;
}

#serverFrame {
    border: 0px;
}

.view {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    -webkit-transition: all .2s ease-in-out;
}

/*.server-list-open .view {
    left: 60px;
    right: -60px;
}
*/
.overlay {
    display: none;
    background: black;
    opacity: .2;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    -webkit-transition: all .2s ease-in-out;
}

.server-list-open .overlay {
    display: block;
}
