body {
    background-color: #f7f7f7;
    margin: 0px;
    font-family: Helvetica;
}

.hidden {
    /*display: none !important;*/
    z-index: -1000 !important;
}

.logo {
    text-align: center;
    margin-top: 80px;
}

.logo img {
    width: 100px;
}

.server-enter {
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin: 20px;
}

.server-enter input {
    padding: 4px;
    border: 0px;
    font-size: 20px;
    border-radius: 0px;
    border-bottom: 1px solid #dfdfdf;
    text-transform: lowercase;
    outline: none;
    width: 100%;
}

.server-enter input.error {
    color: red;
    border-bottom-color: red;
}

.connect-button {
    text-align: center;
    margin-top: 20px;
}

.connect-button button {
    color: rgba(255, 255, 255, 0.85);
    background-color: #13679a;
    padding: 9px 12px;
    font-weight: 500;
    font-size: 13px;
    margin: 4px;
    text-transform: uppercase;
    word-spacing: 0;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);
    border: none;
    line-height: 16px;
    position: relative;
    cursor: pointer;
}

.connect-button button[disabled] {
    background-color: #a6bac7;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.server-list-info {
    color: rgba(195, 37, 38, .5);
    text-align: center;
    padding: 20px;
}

.server-info {
    color: #dddddd;
    text-align: center;
    padding: 20px;
}

#serverFrame {
    border: 0px;
}

.view {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    -webkit-transition: all .2s ease-in-out;
    background-color: #f7f7f7;
}

.overlay {
    display: none;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    -webkit-transition: all .2s ease-in-out;
    z-index: 1000;
}

.loading-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 30px;
    color: #888;
}

body.loading #startView {
    display: none;
}

body.loading .overlay {
    display: block;
}

body.loading .loading-box {
    display: flex;
}

.loading-text {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-size: 12px;
    margin-top: 20px;
}

.progress-bar {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 0 50px;
    overflow: hidden;
    display: none;
}

.progress-bar-fill {
    height: 4px;
    background-color: #aaa;
    width: 0%;
    transition: width .2s;
}

.loading-animation {
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    text-align: center;
}

.loading-animation > div {
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 100%;
    display: inline-block;
    background-color: #888;
    -webkit-animation: loading-bouncedelay 1.4s infinite ease-in-out both;
    animation: loading-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-animation .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading-animation .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes loading-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes loading-bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}
